# Python cache (tijdelijke bestanden)
__pycache__/
*.pyc

# Jupyter Notebook checkpoints (backups die je niet nodig hebt)
.ipynb_checkpoints

# CSV files (die genereert de gebruiker zelf, hoeven niet online)
*.csv

# Mac systeem bestanden (voor als iemand met een Mac kijkt)
.DS_Store